<form>
  <div class="form-group">
    <label>Datei auswählen</label>
    <input type="file" name="encounter-file" accept="application/json" />
  </div>
  <hr>
  <div class="form-group">
    <label>Oder JSON einfügen</label>
    <textarea name="encounter-json" rows="16" placeholder='{"schemaVersion":1,...}'></textarea>
  </div>
</form>
